<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的值必须与对应mapper接口的全名一致-->
<mapper namespace="com.leshan.ebook.mapper.CartMapper">

    <!--通过用户id、商品id查询购物车信息-->
    <select id="findByUseridAndGoodsid" resultType="Cart">
        select id from mall_cart where userid = #{userid} and goodsid = #{goodsid}
    </select>

    <!--根据购物车id更新商品数量-->
    <update id="updateCart">
        update mall_cart set nums = nums + #{nums} where id = #{id}
    </update>

    <!--添加一条购物车信息-->
    <!--now():获取当前数据库时间-->
    <insert id="addCart">
        insert into mall_cart values(default,#{userid},#{goodsid},#{price},#{nums},now())
    </insert>


    <!--通过用户id查询购物车信息-->
    <select id="findByUserId" resultMap="cartDtoMap">
        select c.id,c.goodsid,c.price,c.nums,g.name,g.image,g.salesprice
            from mall_cart c,mall_goods g where c.goodsid = g.id and c.userid = #{userid}
    </select>
    <!--手动指定结果集字段与属性的对应关系-->
    <resultMap id="cartDtoMap" type="CartDto">
        <id column="id" property="id"></id>
        <result column="goodsid" property="goodsid"></result>
        <result column="price" property="price"></result>
        <result column="nums" property="nums"></result>
        <!--商品数据-->
        <association property="goods" javaType="CartGoodsDto">
            <id column="goodsid" property="id"></id>
            <result column="name" property="name"></result>
            <result column="image" property="image"></result>
            <result column="salesprice" property="salesprice"></result>
        </association>
    </resultMap>

    <!--删除-->
    <delete id="del">
        delete from mall_cart where id = #{id}
    </delete>


</mapper>