<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的值必须与对应mapper接口的全名一致-->
<mapper namespace="com.leshan.ebook.mapper.OrderMapper">
    <!--查询订单总金额-->
    <select id="totalPrice" resultType="bigdecimal">
        select sum(c.nums*g.salesprice) from mall_cart c,mall_goods g
	        where c.goodsid = g.id and c.id in
	        <foreach collection="array" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>

    <!--添加订单-->
    <insert id="addOrder">
        insert into mall_order
            values(default,#{orderno},#{userid},now(),#{accept},#{telphone},#{address},#{money},'1',null,'0')
            /*在插入完数据之后立即查询id
                keyProperty：指定将查询出来的值赋值给参数的哪个属性
                order：指定selectKey中SQL语句执行的顺序
                    after：在insert语句之后执行
            */
            <selectKey keyProperty="id" order="AFTER" resultType="int">
                select last_insert_id()
            </selectKey>
    </insert>

    <!--获取订单商品信息-->
    <select id="findByIds" resultType="OrderItem">
        select c.goodsid,c.nums,g.salesprice price
	        from mall_cart c,mall_goods g
	        where c.goodsid = g.id and c.id in
            <foreach collection="array" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>

    <!--更新订单-->
    <update id="update">
        update mall_cart set paytime = now(),status = '1' where orderno = #{orderno}
    </update>
</mapper>